<!-- lib/templates/erb/scaffold/new.html.erb.tt -->

<div class="container mx-auto my-8 px-4">
  <div class="max-w-xl mx-auto">
    <h1 class="text-2xl font-bold mb-6">New Item</h1>

    <%= render 'form', item: @item %>

    <%= link_to 'Back', items_path, class: "link" %>
  </div>
</div>
