<!-- lib/templates/erb/scaffold/show.html.erb.tt -->

<div class="container mx-auto my-8 px-4">
    <p class="text-lg font-semibold">Name:</p>
  <p class="leading-normal"><%= @category.name %></p>

    <div class="flex items-center justify-start mt-6">
    <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary mr-4" %>
    <%= link_to 'Back', categories_path, class: "btn btn-primary" %>
  </div>
</div>
